@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all .2s linear;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
}

.heading, 
.clients .section-header h2, 
.section-head h1, 
.testimonials .section-header h2, 
.section-head-1 h4 {
    margin: 2rem;
    padding-top: 6rem;
    display: inline-block;
    font-size: 3.5rem;
    color: #002e5f;
    position: relative;
    letter-spacing: .2rem;
}

.heading::before, 
.heading::after, 
.clients .section-header h2::before, 
.clients .section-header h2::after, 
.section-head h1::before, 
.section-head h1::after, 
.testimonials .section-header h2::before, 
.testimonials .section-header h2::after, 
.section-head-1 h4::before, 
.section-head-1 h4::after {
    content: '';
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    border-top: .4rem solid #002e5f;
    border-left: .4rem solid #002e5f;
}

.faq .heading::before, 
.faq .heading::after {
    border-top: .4rem solid #00bfff;
    border-left: .4rem solid #00bfff;
}

.heading::before, 
.clients .section-header h2::before, 
.section-head h1::before, 
.testimonials .section-header h2::before, 
.section-head-1 h4::before {
    top: 5.8rem;
    left: -2rem;
}

.heading::after, 
.clients .section-header h2::after, 
.section-head h1::after, 
.testimonials .section-header h2::after, 
.section-head-1 h4::after {
    bottom: -.5rem;
    right: -2rem;
    transform: rotate(180deg);
}

.row .btn, 
.communicate .btn {
    outline: none;
    border: none;
    border-radius: 5rem;
    background: white;
    border-style: groove;
    border-color: #002e5f;
    font-size: 1.5rem;
    cursor: pointer;
    height: 3.5rem;
    width: 15rem;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.3);
}

.row .btn:hover, 
.communicate .btn:hover {
    letter-spacing: .1rem;
    opacity: .9;
    color: white;
}

.row .btn:hover {
    background: #002e5f;
}

.communicate .btn:hover {
    background: #00bfff;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: #002e5f;
}

.header .logo img {
    width: 130%;
    height: 3rem;
}

.header .navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header .navbar ul li {
    margin: 0 1.5rem;
}

.header .navbar ul li a {
    font-size: 2rem;
    color: #fff;
}

.header .navbar ul li a:hover {
    color: #00bfff;
    text-decoration: underline;
}

.header .fa-bars {
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
    display: none;
}

.home {
    min-height: 100vh;
    width: 100vw;
    background-image: url(../images/img1.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    padding: 0 1rem;
    position: relative;
    overflow: hidden !important;
}

.home h1 {
    color: #fff;
    font-size: 5.5rem;
}

.home h2 {
    color: #fff;
    font-size: 3rem;
}

.home .wave {
    position: absolute;
    bottom: -.5rem;
    left: 0;
    height: 11rem;
    width: 100%;
    background: url(../images/wave.png);
    background-size: 100rem 11rem;
    animation: waves 8s linear infinite;
    background-repeat: repeat-x;
}

.home .wave2 {
    animation-direction: reverse;
    animation-duration: 6s;
    opacity: .3;
}

.home .wave3 {
    animation-duration: 4s;
    opacity: .5;
}

@keyframes waves {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 100rem;
    }
}

.about {
    min-height: 55vh;
    width: 100vw;
    text-align: center;
    position: relative;
    overflow: hidden;
    line-height: 10rem;
}

.about .row {
    line-height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 4rem;
}

.about .row .content {
    text-align: center;
}

.about .row .content h3 {
    font-size: 3rem;
    color: black;
}

.about .row .content p, 
.pt-5 .container .row .section-head p {
    font-size: 2rem;
    color: #333;
    padding: 1rem 0;
}

.section-head {
    margin-bottom: 60px;
    text-align: center;
    margin-top: -8rem;
}

.section-head p {
    font-size: 20px;
    line-height: 28px;
}

.item {
    background: #fff;
    text-align: center;
    padding: 30px 25px;
    box-shadow: 0 0 25px rgba(0,0,0,0.07);
    border-radius: 20px;
    margin-bottom: 30px;
    border: 5px solid rgba(0,0,0,0.07);
    transition: all 0.5s ease;
}

.item:hover {
    background: #c8d8e4;
    box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2);
}

.item:hover h6, 
.item:hover p {
    color: #2b6777;
}

.item .icon {
    font-size: 40px;
    margin-bottom: 25px;
    color: yellow;
    width: 90px;
    height: 90px;
    line-height: 96px;
    border-radius: 50px;
}

.item h6 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #2f2f2f;
}

.counters {
    background-image: url(../images/img2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #fff;
    padding: 40px 20px;
}

.counters .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    text-align: center;
}

.counters i {
    color: #fff;
    margin-bottom: 5px;
}

.counters .counter {
    font-size: 45px;
    margin: 10px 0;
}

@media (max-width: 700px) {
    .counters .container {
        grid-template-columns: repeat(2, 1fr);
    }
    .counters .container > div:nth-of-type(1), 
    .counters .container > div:nth-of-type(2) {
        border-bottom: 1px lightskyblue solid;
        padding-bottom: 20px;
    }
}

.section-head-1 {
    margin-bottom: 60px;
}

.section-head-1 p {
    color: #333;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}

.item p {
    font-size: 15px;
    font-family: "Varela Round", Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 26px;
}

.communicate {
    text-align: center;
    align-items: center;
    background-image: url(../images/img3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    min-height: 35vh;
    padding: 40px 20px;
}

.communicate h3 {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.clients {
    min-height: 50vh;
    padding: 50px 20px;
    background-image: url(../images/img4.jpg);
    background-size: cover;
    color: #333;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
}

.clients .owl-carousel {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.clients img {
    width: 100%;
    height: 5rem;
    border-radius: 5rem;
    border-style: solid;
}

.testimonials {
    min-height: 60vh;
    padding: 40px 20px;
    background-image: url(../images/img5.jpg);
    background-size: cover;
    color: #333;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
}

.testimonials .owl-carousel {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.testimonials p {
    color: #2f2f2f;
    font-size: 17px;
    line-height: 26px;
}

.testimonials img {
    width: 100%;
    height: 5rem;
    border-radius: 5rem;
}

.testimonials h3 {
    color: #2b6777;
    font-size: 20px;
    font-weight: 700;
}

.contact {
    min-height: 70vh;
    width: 100vw;
    text-align: center;
    position: relative;
    padding: 4rem 8rem;
}

.contact .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0;
}

.contact .row .content {
    text-align: center;
}

.contact .row .content h3 {
    font-size: 3rem;
    color: black;
}

.contact .row .content p {
    font-size: 2rem;
    color: #333;
    padding: 1rem 0;
}

.contact form {
    width: 60%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.contact form .inputBox {
    width: 100%;
    display: flex;
    flex-flow: column;
    margin: 1rem 0;
}

.contact form .inputBox span {
    font-size: 2rem;
    color: #333;
    padding: 0.5rem 0;
}

.contact form .inputBox input, 
.contact form .inputBox textarea {
    width: 100%;
    border: 0.2rem solid #333;
    padding: 1rem;
    border-radius: 5px;
    color: #333;
    font-size: 1.8rem;
}

.contact form .inputBox textarea {
    resize: none;
    height: 20rem;
}

.contact form input[type="submit"] {
    width: 50%;
    background: #002e5f;
    color: #fff;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2rem;
}

.contact form input[type="submit"]:hover {
    background: #00bfff;
}
